<div class="newscon">
    <div class="one"><h1 class="news">News Forum</h1>
    </div>
</div>
<div class="contwo">
    <button class="four"><a href="/logout"><p>logout</p></a></button></a>
</div>
<div class="conthree">
    <div class="five"><a href="/">Home</a></div>
    <div class="six"><a href="/addNewForum">Add Forum</a></div>
    <div class="seven"><a href="/about">About</a></div>
</div>