<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <main>
            <p>This is The About Page.</p>
    
    
        </main>
        <script type="text/javascript">



        </script>
    </body>
</html>
